body{
    background-color:#160906;
    margin: auto;
    text-align: center;
}

h1 ,p ,button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e2cec9;
    font-weight: 300;
    text-align: left;
    padding-left: 2%;
}
nav{
    
    padding-top: 10px;
    padding-bottom: 10px; 
    width: 100%;
    background-color: #2d2928;
}
nav button{
    padding: 10px ;
    background-color: #ccc5c8;
    width: 200px;
    height: 60px;
    margin: 2px;
    border-radius: 13px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #160906;
    outline: none; /*Rimuove il contorno blu ai pulsanti*/
    display: inline-flexbox;
    flex-wrap: wrap;
}
button:hover{
    background-color: #1c0b12;
    color: #c9b7be;
    
}
button:active{
    background-color:#6b6769;
}
.content01{
    background-color: lightgray;
    text-align: justify ;
    border-radius: 10px;
    margin: 30px;
    width: 70%;
    padding: 5px ;
}

